attrs==21.2.0
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
coverage==6.0.2
docutils==0.18
ga4gh-testbed-lib==0.1.1
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
jsonschema==4.1.2
keyring==23.2.1
packaging==21.0
pkginfo==1.7.1
pluggy==1.0.0
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
python-coveralls==2.9.3
PyYAML==6.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
toml==0.10.2
tomli==1.2.1
tqdm==4.62.3
twine==3.4.2
urllib3==1.26.7
webencodings==0.5.1
zipp==3.6.0
